.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#world {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


#svg {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  display: block;
}


#tooltip {
  opacity: 0;
  position: absolute;
  padding: 10px;
  background: #ffffff;
  border: 2px solid #e8e8e8;
  color: #33cc99;
  font-size: 14px;
  border-radius: 4px;
  width : 150px;
  height : 150px
}

#container {
  display : flex
}


@media screen and (max-width: 800px) {
  #container {
    display : block
  }

}
